<header class="main-header">
    <div class="main-div1">
        <a href="#" class="hamburguer-button"> <i class="fa-solid fa-bars"></i> </a>
        <a href="/page"><h2 class="titulo"> Arcolbooks </h2></a>
        <img class="logo" src="/img/logolibros2.png" alt="">
        <img class="carrito" src="/img/carritoblanco.png" alt="">
    </div>

    <div class="main-div2">
        <input class="buscar" type="search" placeholder="Escribe el nombre del libro">
        <button class="boton"> Buscar </button>
    </div>

    </div>
    
</header>