<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/330ca645c0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/styles2.css">
    <link rel="stylesheet" href="/css/stylus.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    
    
    <title>Cart</title>
</head>
<body class="fondo">
    <header class="main-header">
        <div class="main-div1">
            <a href="#" class="hamburguer-button"> <i class="fa-solid fa-bars"></i> </a>
            <h2 class="titulo"> Arcolbooks </h2>
            <img class="logo" src="/img/logolibros2.png" alt="">
            <img class="carrito" src="/img/carritoblanco.png" alt="">
        </div>

        <div class="main-div2">
            <input class="buscar" type="search" placeholder="Escribe el nombre del libro">
            <button class="boton"> Buscar </button>
        </div>

        </div>
    </header>
    <main class="main-cart">
        <section class="conteiner">
            <article class="conteiner-article">  
                    <div class="cart"> 
                        <div class="icono-carritos"> 
                            <a href="#"><i class="fa-solid fa-cart-arrow-down iconos-cart"></i></a>
                        </div> 
                        <p class="parrafos">Carro de<br>compras</p>
                    </div>
            </article>
            <article class="conteiner-article">
                    <div class="cart"> 
                        <div class="icono-carritos">                
                            <a href="#"><i class="fa-regular fa-user iconos-cart"></i></a>
                        </div> 
                        <p class="parrafos">Perfil</p>
                    </div>
            </article>
            <article class="conteiner-article">
                    <div class="cart"> 
                        <div class="icono-carritos">             
                            <a href="#"><i class="fa-solid fa-truck-fast iconos-cart"></i></a>
                        </div> 
                        <p class="parrafos">Información<br>de envio</p>
                    </div>
            </article>
            <article class="conteiner-article">
                    <div class="cart">
                        <div class="icono-carritos">                    
                            <a href="#"><i class="fa-solid fa-credit-card iconos-cart"></i></a>
                        </div>
                        <p class="parrafos">Pago</p>
                    </div>
            </article>
        </section>
        <section class="cuerpo-cart">
            <div class="cuerpo-cart-dos">
            <article class="cuerpo-container cuerpo-imagen">
                <div class="conteiner-img">
                    <img class="imagen-libro" src="https://images.cdn1.buscalibre.com/fit-in/360x360/a3/5d/a35d90ab325ce95ac1eb3ab1775c04f6.jpg">
                </div>
            </article>
            <article class="cuerpo-container">
                <div class="descripcion-cart">
                    <h3 class="cart-descripcion">Titulo: Introducción al Psicoanálisis</h3>
                    <h5 class="cart-descripcion" >Autor: Sigmund Freud</h5>
                    <h6><i class="fa-regular fa-paper-plane"></i>  Entrega</h6>
                </div>
            </article>
            </div>
            <div class="cuerpo-cart-dos conteiner-precio-subtotal">
            <article class="cuerpo-container  conteiner-pr-sub">
                <div class="cuerpo-cantidad ">
                    <h4 class="precio-cantidad">Precio: $91.900</h4>
                    <h5 class="precio-cantidad">Cantidad: <input type="number" id="tentacles" name="tentacles" min="0" max="10"></h5>
                </div>
            </article>
            <article class="cuerpo-container cuerpo-compra  conteiner-pr-sub">
                    <div class="compra">
                        <div class="subtotal">
                            <h5 class="precio-cantidad">Subtotal: $ 0.00</h5>
                        </div>
                        <div class="finaliza">
                            <button class="button-finalizar" type="submit">Finalizar Compra</button>
                        </div>
                    </div>
            </article>
            </div>

        </section>
    </main>
    <footer>
        <h2>Footer</h2>
    </footer> 
    <script src="./js/bootstrap.min.js"></script>
</body>
</html>