<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/stylus.css">
    <script src="https://kit.fontawesome.com/065918b2fd.js" crossorigin="anonymous"></script>
    <title>Producto</title>
</head>
<body class="body-detalleProducto">
  <header class="main-header">
    <div class="main-div1">
        <a href="#" class="hamburguer-button"> <i class="fa-solid fa-bars"></i> </a>
        <a href="/page"><h2 class="titulo"> Arcolbooks </h2></a>
        <img class="logo" src="/img/logolibros2.png" alt="">
        <img class="carrito" src="/img/carritoblanco.png" alt="">
    </div>

    <div class="main-div2">
        <input class="buscar" type="search" placeholder="Escribe el nombre del libro">
        <button class="boton"> Buscar </button>
    </div>

    </div>
  </header>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-5">
              <img class="img-thumbnail imagenLibro" src="https://images.cdn1.buscalibre.com/fit-in/360x360/a3/5d/a35d90ab325ce95ac1eb3ab1775c04f6.jpg" alt="">
          </div>
          <div class="col-7">  
            <ul class="infoLibro">
              <li class="estrellas-detalleProducto-padre"> <img class="estrellas-detalleProducto" src="/img/estrellas.png" alt=""></li>
              <li>Titulo: Introducción al psicoanálisis - Sigmund Freud</li>
              <li>$ 91.900</li>
              <li class="disponible">#Disponible</li>
              <li><button class="container text-center estrella-favorito"> Agregar a favoritos  <i class="fa-solid fa-star" style="color: #d56a07;"></i></button>
              <li><button class="container text-center share-compartir"> Compartir  <i class="fa-solid fa-share-from-square" style="color: #d56a07;"></i></button>
              
              <li><button class="container text-center camion-compartir"> Calcular envio  <i class="fa-sharp fa-solid fa-truck-fast camion-boton-compartir" style="color: #d56a07;"></i></button>
              <li><a href="/cart"><button class="container text-center carrito-comprar"> Comprar  <img class="carrito-boton-comprar" src="/img/carro2.png" alt=""></button></a></li>
            </ul> 
          </div>
        </div>
        <img class="estrellas-desktop-detalleProducto" src="/img/estrellas.png" alt="">
      </div>
      <div class="sinopsis-detalleProducto">
        <h3>Sinopsis</h3>
        <p>Este libro nos habla sobre lo que es el psicoanálisis muy en general pero de una manera muy fácil de comprender de lo que versa el libro este libro nos habla de las tres temas fundamentales del psicoanálisis como son los actos fallidos, los sueños y la teoría sexual de los cuales les estaré hablando a lo largo del ensayo.</p>
      </div>
    <div class="comentarios-detalleProducto">
      <h4>Comentarios</h4>
      <textarea class="textarea-detalleProducto"  placeholder="Deja tu comentario" id="" cols="45" rows="3"></textarea>
    </div>
    </main>
    <footer>
      <div class="box__footer">     
          <img class= "baner" src="../img/banner-envio-JULIO.jpg" alt="">
      </div>
      
      <div class="container__footer">
          <div class="box__footer">
              <h2>Acerca de</h2>
              <a href="#">Arcolbooks</a>
              <a href="#">Investor relations</a>
              <a href="#">Tendencias</a>
              <a href="#">Sustentabilidad</a>
          </div>
          <div class="box__footer">
              <h2>Ayuda</h2>
              <a href="#">Devoluciones</a>
              <a href="#">Gastos y forma de envio</a>
              <a href="#">Preguntas frecuentes</a>
              <a href="#">Estado de tu pedido</a>
          </div>
          <div class="box__footer">
              <h2>Redes Sociales</h2>
              <a href="#"><i class="fab fa-facebook-square"></i>facebook</a>
              <a href="#"><i class="fab fa-twitter-square"></i>twitter</a>
              <a href="#"><i class="fab fa-linkedin"></i>linkedin</a>
              <a href="#"><i class="fab fa-instagram square"></i>instagram</a>            
          </div>
          <div class="box__footer">
              <h2>Medios de Pago</h2>
            
              <img class= "medios_pagos" src="../img/Captura-de-Pantalla-2021-02-18-a-las-11.32.36-a.-m..png" alt="">
          </div>
      </div> 
      <div class="box__copyright">
          <hr>
          <p>Todos los derechos reservados © 2023
          <b>Arcolbooks</b></p>

      </div>

  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
