<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/065918b2fd.js" crossorigin="anonymous"></script>
    <title>Prueba Boostrap</title>
</head>
<body class="body-detalleProducto">
    <header>
      
    </header>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-5"> <img class="img-thumbnail imagenLibro" src="https://images.cdn1.buscalibre.com/fit-in/360x360/a3/5d/a35d90ab325ce95ac1eb3ab1775c04f6.jpg" alt=""> </div>
          <div class="col-7">  
            <ul class="infoLibro">
              <li>-----------</li>
              <li>Titulo:</li>
              <li>$ 91.900</li>
              <li>#Disponible</li>
              <li><button class="container text-center carrito-comprar"><i class="fa-solid fa-cart-shopping" style="color: #f23131;"></i> Comprar</button></li>
            </ul> 
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-5"> <img class="img-thumbnail imagenLibro" src="https://images.cdn1.buscalibre.com/fit-in/360x360/a3/5d/a35d90ab325ce95ac1eb3ab1775c04f6.jpg" alt=""> </div>
          <div class="col-7">  
            <ul class="infoLibro">
              <li>-----------</li>
              <li>Titulo:</li>
              <li>$ 91.900</li>
              <li>#Disponible</li>
              <li><button class="container text-center carrito-comprar"><i class="fa-solid fa-cart-shopping" style="color: #f23131;"></i> Comprar</button></li>
            </ul> 
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-5"> <img class="img-thumbnail imagenLibro" src="https://images.cdn1.buscalibre.com/fit-in/360x360/a3/5d/a35d90ab325ce95ac1eb3ab1775c04f6.jpg" alt=""> </div>
          <div class="col-7">  
            <ul class="infoLibro">
              <li>-----------</li>
              <li>Titulo:</li>
              <li>$ 91.900</li>
              <li>#Disponible</li>
              <li><button class="container text-center carrito-comprar"><i class="fa-solid fa-cart-shopping" style="color: #f23131;"></i> Comprar</button></li>
            </ul> 
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-5"> <img class="img-thumbnail imagenLibro" src="https://images.cdn1.buscalibre.com/fit-in/360x360/a3/5d/a35d90ab325ce95ac1eb3ab1775c04f6.jpg" alt=""> </div>
          <div class="col-7">  
            <ul class="infoLibro">
              <li>-----------</li>
              <li>Titulo:</li>
              <li>$ 91.900</li>
              <li>#Disponible</li>
              <li><button class="container text-center carrito-comprar"><i class="fa-solid fa-cart-shopping" style="color: #f23131;"></i> Comprar</button></li>
            </ul> 
          </div>
        </div>
      </div>
    

    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>