<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Arcolbooks </title>
    <link rel="stylesheet" href="/css/stylus.css">
    <script src="https://kit.fontawesome.com/330ca645c0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap"
        rel="stylesheet">
        
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body>
    <header class="main-header">
        <div class="main-div1">
            <a href="#" class="hamburguer-button"> <i class="fa-solid fa-bars"></i> </a>
            <a href="/page"><h2 class="titulo"> Arcolbooks </h2></a>
            <img class="logo" src="/img/logolibros2.png" alt="">
            <img class="carrito" src="/img/carritoblanco.png" alt="">
        </div>

        <div class="main-div2">
            <input class="buscar" type="search" placeholder="Escribe el nombre del libro">
            <button class="boton"> Buscar </button>
        </div>

        </div>
    </header>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <img class="fondolibros" src="/img/fondoLibros.jpg" alt="">
            <div class="carousel-item active">
                <img class="libros"
                    src="https://images.cdn2.buscalibre.com/fit-in/180x180/d6/d6/d6d6ea6b71e036ea081e6eef580addca.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img class="libros"
                    src="https://images.cdn2.buscalibre.com/fit-in/180x180/1d/a1/1da159611a516eba8483962b26ca18cb.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img class="libros"
                    src="https://images.cdn3.buscalibre.com/fit-in/180x180/4d/07/4d073da439f11849bcd24492d8eeb9ef.jpg"
                    class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img class="libros"
                    src="https://images.cdn2.buscalibre.com/fit-in/360x360/c1/47/c147541b352288c94d990198576b5f5a.jpg"
                    class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img class="libros"
                    src="https://images.cdn3.buscalibre.com/fit-in/360x360/4a/ec/4aecdf3019e1fbdf9fa69e54f8b3ba25.jpg"
                    class="d-block w-100" alt="...">
            </div>

        </div>
        <div class="botones-next-prev">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev" class="active">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

<div class="fondo-div">
        <div class="botones-2">
            <button class="boton2"> Educación </button>
            <button class="boton2"> Infantil</button>
            <button class="boton2"> Ficción </button>
            <button class="boton2"> Motivación </button>
        </div>

        <div class="div-1">
            <img class="libro-venta"
                src="https://images.cdn1.buscalibre.com/fit-in/360x360/46/f3/46f34f8b0f72e8b3ab0a7ecdaccce9ce.jpg"
                alt="">
        <div>
            <p>La clave para alcanzar el éxito está en tus acciones.Si te pones como meta lograr dos cosas todos los
                días -sin
                excepción-, no tendrás límites para lo que quieras alcanzar. El experto en éxito, Brian Tracy, comparte
                un método
                probado de siete pasos que te ayudarán a conseguir, en pocos meses, más de lo que la mayoría de las
                personas logra en toda su vida
            </p>
            <div class="container-precio-descuento">
                <p id="precio"> $ 75.000 </p>
                <p id="descuento"> -10% Off </p>
                <img class="etiqueta-oferta" src="/img/oferta-2.png" alt="">
            </div>
        </div>  
    </div>

        <div class="div-estrellas-boton-compra">
            <img class="estrellas" src="/img/estrellas.png" alt="">
            <button class="comprar-boton"> Comprar 
                <img class="carrito-boton-comprar" src="/img/carro2.png" alt="">
            </button>
            
        </div>

<div class="div-1">
            <img class="libro-venta"
                src="https://images.cdn1.buscalibre.com/fit-in/360x360/a3/5d/a35d90ab325ce95ac1eb3ab1775c04f6.jpg"
                alt="">
        <div>
            <p>Este libro nos habla sobre lo que es el psicoanálisis muy en general pero de una manera muy fácil de
                comprender de lo
                que versa el libro este libro nos habla de las tres temas fundamentales del psicoanálisis como son los
                actos fallidos,
                los sueños y la teoría sexual de los cuales les estaré hablando a lo largo del ensayo.
            </p>
            <div class="container-precio-descuento">
                <p id="precio"> $ 91.900 </p>
                <p id="descuento"> -25% Off </p>
                <img class="etiqueta-oferta" src="/img/oferta-2.png" alt="">
            </div>
        </div>
</div>

        <div class="div-estrellas-boton-compra">
            <img class="estrellas" src="/img/estrellas.png" alt="">
        
            <a href="/producto"><button class="comprar-boton"> Comprar 
                <img class="carrito-boton-comprar" src="/img/carro2.png" alt="">
            </button></a>
        </div>

</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>

</html>