<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>LIBROS WEB</title>
<link rel="stylesheet" href="/css/stylus.css">
<script src="https://kit.fontawesome.com/330ca645c0.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap"
    rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <div class="main-div">
            <a href="#" class="hamburguer-button"> <i class="fa-solid fa-bars"></i> </a>
            <h2> Arcolbooks</h2>
            <img class="logo" src="/img/logolibros2.png" alt="">
            <img class="carrito" src="/img/carritoblanco.png" alt="">

        </div class="buscar">
        <input class="buscar" type="search">
        <button class="boton"> Buscar </button>
        <div>

        </div>
    </header>
</body>

</html>>