/*-----------------Login-----------------------*/

.form-prg{
    margin: 3vh;
    color: #666;
    text-align: center;
    padding-top: 10px;
}

.Body-login{
    background-color: #2d2b2b ;
    color: white;
    font-family: "roboto";  
}


.form-prg input[type="text"]{
    width: 70%;
    height: 35px;
    border-radius: 8px;
    border-style: none;
   
}

.form-prg input[type="password"]{
    width: 70%;
    height: 35px;
    border-radius: 8px;
    border-style: none;
    color: #666;
}

.blue-btn{
    background-color: #2968C8;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    border-style: none;
    width: 150px;
    padding: 10px;
    
}

.blue-btn:hover{
    background-color: #0022AA ;
}

.white-btn{
        background-color: #f44336;
        color: white;
        font-size: 14px;
        font-weight: bold;
        border-radius: 3px;
        border-style: none;
        width: 150px;
        padding: 10px;
        margin-right: 20px;
}

.smbt{
    margin-bottom: 2rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.form-prg h4{
    margin-bottom: 0.5rem;
    font-weight: bolder;
}

.smbt a{
    text-decoration: none;
    color: white;
}

/*-----------------Login 1200-----------------------*/

@media (min-width: 769px) and (max-width: 1200px) {
    .form-prg input[type="text"]{
        width: 70%;
        height: 50px;
        border-radius: 8px;
        border-style: none;
    }
}

    .form-prg input[type="password"]{
        width: 70%;
        height: 50px;
        border-radius: 8px;
        border-style: none;
        color: #666;
        
}
.blue-btn{
    background-color: #2968C8;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border-style: none;
    width: 150px;
    padding: 10px;
    margin-right: 20px;
}

.white-btn{
    background-color: #f44336;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border-style: none;
    width: 150px;
    padding: 10px;
    
}
