* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "roboto"
    
}

.body {
    font-family: "roboto";
    max-width: 100%;
}

.main-header {
    background-color: #1D1D1D;
    max-width: 100%;
    width: 100vw;
    height: 32vw;
}

.main-div1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 10px 10px;
    max-width: 100%;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.hamburguer-button {
    background-color: blueviolet;
    color: white;
    display: block;
    max-width: 100%;
    width: 12%;
    height: 40%;
    padding-top: 2px;
    border-radius: 8px;
    text-align: center;
    font-size: 7vw;
}

.main-navbar {
    display: none;
}

.titulo {
    font-size: 7vw;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}

.logo {
    width: 18%;
}

.carrito {
    width: 14%;
}

.main-div2 {
    padding-bottom: 1%;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 4px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.buscar {
    border-radius: 8px;
    width: 70vw;
    height: 7.5vw;
    border-style: none;
    text-align: center;
    font-size: 1.2rem;
}

.boton {
    border-radius: 6px;
    width: 15vw;
    height: 7.5vw;
    position: relative;
    left: 23px;
    border-style: none;
}

/* --------CAROUSEL---480PX-------*/

.fondolibros {
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.libros {
    width: 35%;
    border: 5px solid white;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    left: 33%;
}


/* ---------BOTONES-NAVEGACION-480PX----------------------- */

.botones-2 {
    display: flex;
    justify-content: center;
}

.boton2 {
    text-transform: capitalize;
    border-radius: 3px;
    border-style: inset;
    width: 22vw;
    height: 8vw;
    font-size: .8rem;
    border-radius: 10px;
    font-size: .9rem;
}

/* --------------------------------------------------------*/

/* ---------lIBROS-A-LA-VENTA-480PX----------------------- */

.fondo-div {
    padding-top: 15px;
    padding-bottom: 0px;
    background-color: #1D1D1D;
}

.caja {
    width: 50%;
    border-bottom: solid 2px #ebebeb;
}

.precio-descuento {
    display: flex;
    justify-content: center;
}

.precio {
    color: white;
    font-weight: bold;
    font-size: 4vw;
    margin-top: 1vw;
    margin-left: 3vw;
    margin-right: 2vw;
}

.descuento {
    color: yellow;
    font-weight: bold;
    font-size: 4vw;
    margin-top: 1vw;
    margin-left: 2vw;
    margin-right: 3vw;
}

.estrella {
    width: 40%;
}

.estrella-centrada {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 3vw;
}

.imagen-producto {
    display: flex;
    justify-content: center;
    margin-top: 10vw;
}

.producto {
    width: 80%;
    border: 5px solid white;
}

.descripcion {
    color: white;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: justify;
    font-size: 2.5vw;
}

.boton-comprar {
    width: 35vw;
    height: 7.5vw;
    border-radius: 5px;
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 5vw;
}

.boton-center {
    display: flex;
    justify-content: center;
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
}

.carrito-boton-comprar {
    width: 12%;
}

.producto2 {
    margin-bottom: 1vw;
}

.producto4 {
    height: 44%;
}



/* ------------------------------------------------- */

/*-----------------DETALLE PRODUCTO-----------------------*/

.body-detalleProducto{
    background-color: #1D1D1D ;
    color: white;
    font-family: "roboto";
}
.boton-detalle{
    border-radius: 6px;
    width: 40vw;
    margin-top: 2vw;
}
.botones-detalle-padre{
    margin-top: 5vw;
    display: flex;
    position: relative;
    top: 10vw;
    right: 37vw;
}
.botones-detalle1{
    display: flex;
    flex-direction: column;
}
.botones-detalle2{
    /*position: relative;
    right: 45vw;
    bottom: 20vw;*/
    margin-left: 7vw;
    display: flex;
    flex-direction: column;
}
.infoLibro{
    text-align: start;
    line-height: 2.3em;
    list-style-type: none;
    padding: 0;
    margin-top: 5vw;
}
.estrellas-detalleProducto{
    position: relative;
    bottom: 12vw;
    width: 85%;
    right: 4.5vw;
}
.estrellas-detalleProducto-padre{
    height: 8vw;
}
.disponible{
    color: #4fea8f;
}
.imagenLibro{
    height: 200px;
    width: 140px;
    padding: 0;
    border: 5px solid white;
    margin-top: 5vw;
    margin-left: 5vw;
}
.carrito-comprar{
    width: 100%;
    height: 3vw;
    margin-top: 2.5vw;
    font-weight: bold;
    border-radius: 6px;
}
.estrellas-desktop-detalleProducto{
    display: none;
}
.sinopsis-detalleProducto{
    margin-top: 5vw;
    padding: 5vw 8vw;
    text-align: justify;
}
.comentarios-detalleProducto{
    padding: 2vw 8vw;
}
.textarea-detalleProducto{
    background-color: transparent;
    color: white;
    border:solid;
    border-radius: 6px;
    width: 100%;
}

.boton-delete{
    width: 100%;
}
/*------------------------------------------------*/

/*-----------------register-----------------------*/

.body-register{
    background-color:whitesmoke;
    color: rgb(249, 249, 249);
    font-family: "roboto";
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    font-size: 1em;
    padding: 20px;
    padding-bottom: 40px;
    box-sizing: border-box;    
    border-radius: 5px;
  }
  
.register label {
    margin-bottom: 5px;
    text-align: center;
    font-size: 1em;
    color:white;
  }
  
.register .control {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
  }
  
  
.register .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1em;
  }
  
.register button {
    flex: 1;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color:#1259c3;  
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
.register button[type="reset"] {
    background-color: #f44336;
    font-size: 1em;
    margin-left: 10px;
  }
.registerTitulo{
    text-align: center;
    padding-top: 20px;
    color:white;
  }

.logo {
    width: 18%;
}

.formulario-principal{
    background-color: #1d1d1d;
    padding: 2%;
    margin:50px;
    border-radius: 8px;
}
/*-----------------------------------------*/

/* ---------- pantallas--481-768--px---- */

@media (min-width: 481px) and (max-width: 768px){

    /* ------HEADER-NAVBAR-481PX--768PX-----*/

.main-header {
    background-color: #1D1D1D;
    max-width: 100%;
    width: 100vw;
    height: 27.5vw;
}

.hamburguer-button{
    display:none;
}
.titulo {
    position: relative;
    left: 10.5vw;
    font-size: 6.3vw;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    padding-top: 3vw;
    
}

.logo {
    position:relative;
    right: 58vw;
    width: 12%;
    bottom: 1vw;
    padding-top: 3vw;  
}

.carrito {
    width: 0%;
}

.buscar {
    position: relative;
    left: 46vw;
    bottom: 9vw;
    border-radius: 4px;
    width: 37vw;
    height: 5vw;
    border-style: none;
    text-align: center; 
}

.boton {
    border-radius: 4px;
    width: 8.5vw;
    height: 5vw;
    position: relative;
    left:48vw;
    bottom: 9vw;
    border-style: none;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom:7vw;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-navbar li {
    margin: 1.5vw;
}
.main-navbar a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    font-size: 3vw;
}

.login{
    width: 3.5%;
    position: absolute;
    z-index: 1;
    bottom: 4.5vw;
    right: 49vw ;
}

.login-2{
    width: 3.5%;
    position: absolute;
    z-index: 1;
    bottom: 4.5vw;
    right: 49vw ;
}

.ingresar{
    width: 3.5%;
    position: absolute;
    z-index: 1;
    bottom: 4.5vw;
    right: 28vw;
}

.carrito-comprador{
    width: 3.5%;
    position: absolute;
    z-index: 1;
    bottom: 4.5vw;
    right: 9vw;
}

/* ------MAIN--DIV--TODOS-LOS-LIBROS-481PX--768PX---*/

.caja {
    width: 33%;
    border-bottom: solid 2px #ebebeb;
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
}

.precio {
    font-size: 3vw;
    margin-top: 1vw;
    margin-left: 2vw;
    margin-right: 1vw;
}

.descuento {
    font-size: 3vw;
    margin-top: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.estrella {
    width: 50%;
}

.estrella-centrada {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 2vw;
}

.imagen-producto {
    display: flex;
    justify-content: center;
    margin-top: 8vw;
}

.descripcion {
    color: white;
    margin-left: 3vw;
    margin-right: 3vw;
    text-align: justify;
    font-size: 2.5vw;
}

.boton-comprar {
    width: 25vw;
    height: 6vw;
    border-radius: 5px;
    font-size: 2.5vw;
    font-weight: bold;
    margin-bottom: 5vw;
}

.container {

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carrito-boton-comprar {
    width: 12%;
}

.producto2 {
    margin-bottom: 0vw;
}

.producto3 {
    height: 100%;
    margin-bottom: 4vw;
}

.producto4 {
    height: 30%;
}
/*---------------detalle producto---------*/
.sinopsis-detalleProducto{
    margin-top: 10vw;
    padding: 5vw 8vw;
    text-align: justify;
    font-size: 20px;
}
.estrellas-detalleProducto{
    position: relative;
    bottom: 12vw;
    width: 80%;
    right: 4.5vw;
}
.infoLibro{
    text-align: start;
    line-height: 2.3em;
    list-style-type: none;
    padding: 0;
    margin-top: 5vw;
    font-size: 20px;
}



}

@media (min-width: 769px){

/* ------HEADER--NAVBAR-------------------*/

.main-header {
        background-color: #1D1D1D;
        max-width: 100%;
        width: 100vw;
        height: 27.5vw;
    }

.hamburguer-button {
        display: none;
    }

.titulo {
        position: relative;
        left: 11vw;
        font-size: 6vw;
        color: rgb(255, 255, 255);
        text-transform: capitalize;
        padding-top: 2.8vw;
    }

.logo {
        position: relative;
        right: 58vw;
        width: 12%;
        bottom: 1vw;
        padding-top: 3vw;
    }

.carrito {
        width: 0%;
    }

.buscar {
        position: relative;
        left: 44vw;
        bottom: 7vw;
        border-radius: 4px;
        width: 37vw;
        height: 4.5vw;
        border-style: none;
        text-align: center;
        font-size:2vw;
    }

.boton {
        border-radius: 4px;
        width: 8.5vw;
        height: 4.5vw;
        position: relative;
        left: 46vw;
        bottom: 7vw;
        border-style: none;
        font-size: 2vw;
    }

.main-navbar {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        bottom: 5vw;
    }

.main-navbar ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

.main-navbar li {
        margin: 1.5vw;
    }

.main-navbar a {
        text-decoration: none;
        color: #ffffff;
        display: inline-block;
        margin-top: 1.5vw;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        font-size: 3vw;
    }

.login {
        width: 3.5%;
        position: absolute;
        z-index: 1;
        bottom: 4.5vw;
        right: 49vw;
    }

    .login-2{
        width: 3.5%;
        position: absolute;
        z-index: 1;
        bottom: 4.5vw;
        right: 1vw ;
        border: 5px;
        border-radius: 6px;
        border-color: #ebebeb;
    }

    .imagenLibro{
        height: 455px;
        width: 250px;
        padding: 0;
        border: 5px solid white;
        margin-top: 5vw;
        margin-left: 3vw;
    }

.ingresar {
        width: 3.5%;
        position: absolute;
        z-index: 1;
        bottom: 4.5vw;
        right: 28vw;
    }

.carrito-comprador {
        width: 3.5%;
        position: absolute;
        z-index: 1;
        bottom: 4.5vw;
        right: 9vw;
    }


/* ------BOTONES-MENU-BUSQUEDAD---769px--1279px--------*/

    .boton2 {
        margin-top: 2vw;
        font-size: 2vw;
        font-weight: bold;
        height: 6vw;
    }


/* ------MAIN--DIV--TODOS-LOS-LIBROS-769px--1279px---*/

    .caja {
        width: 25%;
        border-bottom: solid 2px #ebebeb;
    }

    .container {
        display:flex;
        flex-wrap: wrap;
    }

    .precio {
        font-size: 2vw;
        margin-top: 1vw;
        margin-left: 1vw;
        margin-right: 0vw;
    }

    .descuento {
        font-size: 2vw;
        margin-top: 1vw;
        margin-left: 1vw;
        margin-right: 0vw;
    }

    .estrella {
        width: 60%;
    }

    .estrella-centrada {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: .5vw;
    }

    .imagen-producto {
        display: flex;
        justify-content: center;
        margin-top: 5vw;
    }

    .descripcion {
        color: white;
        margin-left: 2vw;
        margin-right: 2vw;
        text-align: justify;
        font-size: 1.5vw;
    }

    .boton-comprar {
        width: 18vw;
        height: 4vw;
        border-radius: 5px;
        font-size: 1.8vw;
        font-weight: bold;
        margin-bottom: 2vw;
    }

    .container {

        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .carrito-boton-comprar {
        width: 6%;
    }

    .producto2 {
        margin-bottom: 0vw;
    }

    .producto3 {
        height: 100%;
        margin-bottom: 9.5vw;
    }

    .producto4 {
        height: 32.8%;
    }
    /*-----------------DETALLE PRODUCTO--------------*/
    .botones-detalle-padre{
        margin-top: 5vw;
        display: flex;
        position: relative;
    }
    .botones-detalle1{
        display: flex;
        flex-direction: column;
    }
    .botones-detalle2{
        display: flex;
        flex-direction: column;
    }
    .infoLibro{
        text-align: start;
        line-height: 2.3em;
        list-style-type: none;
        padding: 0;
        margin-top: 5vw;
    }
    .imagenLibro{
        height: 25vw;
        width: 17vw;
        padding: 0;
        border: 5px solid white;
        margin-top: 5vw;
        margin-left: 5vw;
    }
    .estrellas-desktop-detalleProducto{
        display: contents;
        position: relative;
        top: 25vw;
    }
    .estrellas-detalleProducto{
        display: none;
    }

}
@media (min-width: 1200px){

    .main-header {
       
       
        width: 100vw;
        height: 14vw;
    }
    .titulo {
        font-size: 2vw;
        margin: 1px 1px 5px;
        padding: 10px 5px 1px 180px;
      
    }
    .logo {
        width: 7%;
        margin: 1px 1px 5px;
        padding: 10px 5px 1px;
        margin-left: 38vw;
      
    
        
    }
    .buscar {
        border-radius: 4px;
        width: 30vw;
        height: 1.6vw;
        border-style: none;
        text-align: center;
        font-size: 1.1rem;
        margin-top: 38px;
      
   
    } 
      
    .boton {
        border-radius: 4px;
        width: 3vw;
        height: 1.6vw;
        text-align: center;
        font-size: 0.7rem;
        margin-top: 38px;
        
    }
    .main-navbar a {
      
       
        margin-top: 0px;
        margin-left: 1vw;
        margin-right: 1vw;
        font-size: 1.2vw;
        
    }
    .main-div1 {
        display: flex;
        justify-content: space-between;
      
        max-width: 95%;
        align-items: center;
  
       
    }
    .login {
        width: 2%;
        position: absolute;
        z-index: 1;
        bottom: 2.8vw;
        right: 49vw;
    }
    .carrito-comprador{
        width: 2%;
        position: absolute;
        z-index: 1;
        bottom: 2.8vw;
        right: 5vw;
    }

        .ingresar{
            width: 2%;
            position: absolute;
            z-index: 1;
            bottom: 2.8vw;
            right: 27vw;

        }

    .carousel-indicators{
        
        display:none;
    }
    .fondolibros {
        display: flex;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    .libros {
        width: 12%;
       
       
      
        left: 43%;
    }
    .boton2 {
    text-transform: capitalize;
    border-radius: 3px;
    border-style: inset;
    width: 16vw;
    height: 2vw;
    
    border-radius: 10px;
    font-size: 1.1rem;
    margin-top: 0vw;
}
.caja {
    width: 20%;
    
    display: flex;
    flex-direction: column;
 
    text-decoration: none;
    margin-top: 0vw;
    /* margin-top: 60px; */
    /* margin-left: 0px;
    margin-right: 5px; */
   
}
.descripcion {
    
    text-align: justify;
    font-size: 1vw;
    align-items: center;

}
/* .imagen-producto {
    display: flex;
     justify-content: center;
    margin-top: 1vw; */
    .imagen-producto {
        display: flex;
        justify-content: center;
        margin-top: 1vw;
    }
    .precio {
       
        font-weight: bold;
        font-size: 1vw;
        margin-top: 1vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    
    .descuento {
        color: yellow;
        font-weight: bold;
        font-size: 1vw;
        margin-top: 1vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .estrella {
        width: 35%;
    }
    .boton-comprar {
        width: 10vw;
        height: 2vw;
        border-radius: 5px;
        font-size: 1vw;
        font-weight: bold;
        margin-bottom: 5vw;
     }
     .container {
        display:flex;
        flex-wrap:wrap;
        
        
    }
    .main-div2 {
      
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 0px;
        padding-left: 10px;
        padding-bottom: 0px;
        padding-right: 10px;
    }
    }
/* -----------FOOTER--------- */

footer {
    width: 100%;
    padding: 35px 0px;
    background-image: url(../img/background-footer.svg);
    background-size: cover;
    background-color: #1D1D1D;

}
.baner{
    width: 95%;
}
.container__footer {
    display: flex;
    flex-wrap: wrap;

    max-width: 1200px;
    margin: auto;
    margin-top: 10;
    line-height: 13px;
    align-items: center;
    justify-content: center;
    align-items: flex-start;

}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 0px;
    text-decoration: none;

    margin-top: 60px;
    margin-left: 50px;
    margin-right: 20px;

}

a:link,
a:visited {
    text-decoration: none;
}

.box__footer .logo img {
    width: 80px;

}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500px;
    color: #7a7a7a;
    font-size: 15px;
    text-align: justify;
    line-height: 20px;
}

.box__footer h2 {
    margin-bottom: 10px;
    color: #343434;
    font-weight: 700;
    font-size: 18px;
}


.box__footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600px;
    transition: all 300ms ease;

}
.medios_pagos {
    width: 200px;
    display: flex;
    
}

.box__footer a:hover {
    opacity: 0.8;
    color: #4fea8f;



}

.box__footer a .fab {
    font-size: 20 px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

/* _______________________footer__360__celular__________ */

@media screen and (max-width:800px) {

    .container__footer {
        display: flex;
        line-height: 13px;
        width: 100%;
        margin-left: 1px;
        margin-right: 1px;
    }

    .box__footer {
        display: flex;
        padding: 0px;
        margin-top: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .box__footer h2 {
        margin-bottom: 10px;
        color: #343434;
        font-weight: 700;
        font-size: 13px;
    }

    .box__footer a {
        margin-top: 10px;
        color: #7a7a7a;
        font-weight: 600px;
        font-size: 13px;
    }

    .medios_pagos {
        width: 150px;
        display: flex;
        margin-top: 10px;
    }

    .box__copyright p {
        font-size: 13px;
    }

    .baner {
               margin-left: 15px;
        margin-right: 10px;
    }
}

/*-----------------Login-----------------------*/

.form-prg{
    margin: 3vh;
    
    text-align: center;
    padding-top: 10px;
}

.Body-login{
    background-color: #1D1D1D;
    color: white;
    font-family: "roboto";  
    border-style: none;
}


.form-prg input[type="text"]{
    width: 70%;
    height: 35px;
    border-radius: 8px;
    border-style: none;
   
}

.form-prg input[type="password"]{
    width: 70%;
    height: 35px;
    border-radius: 8px;
    border-style: none;
    color: #666;
}

.blue-btn{
    background-color: #2968C8;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    border-style: none;
    width: 150px;
    padding: 10px;
    
}

.blue-btn:hover{
    background-color: #0022AA ;
}

.white-btn{
        background-color: #f44336;
        color: white;
        font-size: 14px;
        font-weight: bold;
        border-radius: 3px;
        border-style: none;
        width: 150px;
        padding: 10px;
        margin-right: 20px;
}

.smbt{
    margin-bottom: 2rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.form-prg h4{
    margin-bottom: 0.5rem;
}

.smbt a{
    text-decoration: none;
    color: white;
}

/*-----------------Login 1200-----------------------*/

@media (min-width: 769px) and (max-width: 1200px) {
    .form-prg input[type="text"]{
        width: 70%;
        height: 50px;
        border-radius: 8px;
        border-style: none;
    }
}

    .form-prg input[type="password"]{
        width: 70%;
        height: 50px;
        border-radius: 8px;
        border-style: none;
        color: #666;
        
}
.blue-btn{
    background-color: #2968C8;
    color: white;
    font-size: 20px;
    
    border-radius: 8px;
    border-style: none;
    width: 150px;
    padding: 10px;
    margin-right: 20px;
}

.white-btn{
    background-color: #f44336;
    color: white;
    font-size: 20px;
    
    border-radius: 8px;
    border-style: none;
    width: 150px;
    padding: 10px;
    
}
/*--------------------------------------------*/





/*-----------CARRITO------------------*/

.fondo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1D1D1D;
    font-family: "roboto";
    color: white;
}
.main-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    padding: 15px;

}

.conteiner{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 70px;
    width: 320px;
    border-bottom: 2px dashed  white;
    margin-bottom: 20px;
   
}

.conteiner-article{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
    width: 60px;
}

.parrafos{
    padding: 0;
    margin: 2px;
    font-size: 11px;
    text-align: center;
}

.icono-carritos{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    cursor: pointer;
    
}
.icono-carritos::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgb(212, 210, 210);
    border-radius: 50%;
    z-index: -1;
    transform: translateY(2px);
    background-color: rgb(136, 134, 134);

}
.icono-carritos:active{
    transform: translateY(2px);
   
    
}

.icono-carritos:before{
    transform: translateY(0);
    
}


.iconos-cart{   
    color: black;
}

.cuerpo-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 310px;
    height: 400px;
}

.cuerpo-cart-dos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 190px;
}

.cuerpo-container{
    width: 140px;
    height: 180px;
}

.cuerpo-imagen{
    border: 3px solid white;
}

.conteiner-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    

}
.imagen-libro{
    width: 135px;
    height: 175px;
}

.descripcion-cart{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content:space-between;
    width: 140px;
    height: 130px;
}
.cart-descripcion{
    font-size: 18px;
}

.fa-paper-plane{
    font-size: 15px;
    color: white;
}

.cuerpo-cantidad{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 130px;
    height: 100px;
    border: 1px solid  white; 
   
}

.precio-cantidad{
    font-size: 15px;
}

#tentacles{
    width: 35px;
}

.cuerpo-compra{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compra{
    width: 130px;
    height: 100px;
    border: 1px solid white;
}
.subtotal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 130px;
    height: 35px;
    color: black;
    background-color: white;
    border-bottom: 1px solid white;
}
.finaliza{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 130px;
    height: 70px;
}

.button-finalizar{
    position: relative;
    background-color: rgb(212, 210, 210);
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
}

.button-finalizar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgb(212, 210, 210);
    z-index: -1;
    transform: translateY(2px);
    background-color: rgb(136, 134, 134);

}
.button-finalizar:active{
    transform: translateY(2px);
   
    
}

.button-finalizar:before{
    transform: translateY(0);
    
}

@media (min-width: 481px){
    .conteiner{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        height: 90px;
        width: 400px;
        border-bottom: 2px dashed  white;
        margin-bottom: 20px;
       
    }

    .main-cart{
        width: 420px; 
    
    }

}

@media (min-width: 769px){
    .conteiner{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        height: 90px;
        width: 550px;
        border-bottom: 2px dashed  white;
        margin-bottom: 20px;
       
    }

    .main-cart{
        width: 600px; 
    
    }
    .cuerpo-cart{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 600px;
        height: 350px;
    }
    .cart-descripcion{
        font-size: 19px;
    }

    .cuerpo-cart-dos{
        display: flex;
        flex-direction: row; 
        justify-content: space-around;
        align-items: center;
        width: 300px;
        height: 250px;
    }
    .cuerpo-container{
        width: 140px;
        height: 180px;
    }

    .conteiner-precio-subtotal{
        display: flex;
        flex-direction: column; 
        justify-content: space-around;
        align-items: center;
        margin-left: 15px;
        width: 200px;
        height: 250px;
    }
    .conteiner-pr-sub{
        width: 129px;
        height: 100px;
    }

    .descripcion-cart{
        display: flex;
        flex-direction: column; 
        justify-content:space-between;
        padding-left: 10px;
    }

}

/*--------------------------------------------*/


/*-----------PERFIL------------------*/

.bienvenida{
    text-align: center;
    margin-top: 2vh;
}

.credenciales{
    background-color: #1D1D1D;
    color: #ebebeb;
    border-radius: 6px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}



/*--------------------------------------------*/

/*---------ERRORES--------------------------------*/
.erroresEdit{
    color: red;
    font-weight: bold;
}
.errorLogin{
    color: red;
    font-weight: bold;
    text-align: center;
}