* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.body {
    font-family: "roboto";
    max-width: 100%;
}

.main-header {
    background-color: #1D1D1D;
    max-width: 100%;
    width: 100vw;
    height: 32vw;
}

.main-div1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 10px 10px;
    max-width: 100%;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.hamburguer-button {
    background-color: blueviolet;
    color: white;
    display: block;
    max-width: 100%;
    width: 12%;
    height: 40%;
    padding-top: 2px;
    border-radius: 8px;
    text-align: center;
    font-size: 7vw;
}

.titulo {
    font-size: 7vw;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}

.logo {
    width: 18%;
}

.carrito {
    width: 14%;
}

.main-div2 {
    padding-bottom: 1%;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 4px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.buscar {
    border-radius: 8px;
    width: 70vw;
    height: 7.5vw;
    border-style: none;
    text-align: center;
    font-size: 1.2rem;
}

.boton {
    border-radius: 6px;
    width: 15vw;
    height: 7.5vw;
    position: relative;
    left: 23px;
    border-style: none;
}

/* --------CAROUSEL---480PX-------*/

.fondolibros {
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.libros {
    width: 35%;
    border: 5px solid white;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    left: 33%;
}

/* ---------BOTONES-NAVEGACION-480PX----------------------- */

.botones-2 {
    display: flex;
    justify-content: center;
}

.boton2 {
    text-transform: capitalize;
    border-radius: 3px;
    border-style: inset;
    width: 22vw;
    height: 8vw;
    font-size: .8rem;
    border-radius: 10px;
    font-size: .9rem;
}

/* --------------------------------------------------------*/

/* ---------lIBROS-A-LA-VENTA-480PX----------------------- */

.fondo-div {
    padding-top: 15px;
    padding-bottom: 300px;
    background-color: #1D1D1D;
}

.div-1 {
    display: flex;
}

.libro-venta {
    width: 33%;
    height: 50%;
    border: 5px solid white;
    margin-top: 5vw;
    margin-left: 5vw;
}

.div-1 p {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    font-size: 3vw;
}

/* -------ESTRELLAS-DE-CALIFICACION----------- */

 .clasificacion{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-right: 300px ;
    font-size:6vw;
    position: sticky;
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form p {
    text-align: center;
}

#form label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover~label {
    color: orange;
}

input[type="radio"]:checked~label {
    color: orange;
} 
/* ------------------------------------------------- */

#precio{
    color: white;
    margin-top:none;
    margin-left: 20px;
    font-size: 4vw;
    font-weight: bold;
}

#descuento{
    color: #fcf400;
    font-weight: bold;
    font-size: 4vw;
    position: relative;
    right:20px;
}

.etiqueta-oferta{
    position:relative;
    right: 20px;
    top:10px;
    width: 10vw;
    height:10vw ;
}

.container-precio-descuento{
    display: flex;
    position: relative;
    bottom:30px;
}

.estrellas {
    width: 28%;
    position: relative;
    bottom: 50px;
    left: 40px;
}

.comprar-boton {
    position: relative;
    bottom: 50px;
    left: 90px;
    width: 40vw;
    height: 8vw;
    font-weight: bold;
}

.carrito-boton-comprar{
    width: 15%;
    position: relative;
    left: 18px;
}

.div-estrellas-boton-compra{
    width:400px ;
}

/*-----------------DETALLE PRODUCTO-----------------------*/

.body-detalleProducto{
    background-color: #1D1D1D ;
    color: white;
}
.infoLibro{
    text-align: start;
    line-height: 2.3em;
    list-style-type: none;
    padding: 0;
    margin-top: 5vw;
}
.imagenLibro{
    height: 200px;
    width: 140px;
    padding: 0;
    border: 5px solid white;
    margin-top: 5vw;
    margin-left: 5vw;
}
.carrito-comprar{
    width: 90%;
    height: 9vw;
    margin-top: 2.5vw;
}
/*-----------------register-----------------------*/



.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    font-size: 1em;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .register label {
    margin-bottom: 5px;
    text-align: center;
    font-size: 1em;
  }
  
  .register .control {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
  }
  
  
  .register .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1em;
  }
  
  .register button {
    flex: 1;
    margin-top: 10px;
    padding: 10px 20px;
    background-color:#1259c3;  
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .register button[type="reset"] {
    background-color: #f44336;
    font-size: 1em;
  }
  .registerTitulo{
    text-align: center;
  }