* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



.fondo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1D1D1D;
    font-family: "roboto";
    color: white;
}
.main-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    padding: 15px;

}

.conteiner{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 70px;
    width: 320px;
    border-bottom: 2px dashed  white;
    margin-bottom: 20px;
   
}

.conteiner-article{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
    width: 60px;
}

.parrafos{
    padding: 0;
    margin: 2px;
    font-size: 11px;
    text-align: center;
}

.icono-carritos{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    cursor: pointer;
    
}
.icono-carritos::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgb(212, 210, 210);
    border-radius: 50%;
    z-index: -1;
    transform: translateY(2px);
    background-color: rgb(136, 134, 134);

}
.icono-carritos:active{
    transform: translateY(2px);
   
    
}

.icono-carritos:before{
    transform: translateY(0);
    
}


.iconos-cart{   
    color: black;
}

.cuerpo-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 310px;
    height: 400px;
}

.cuerpo-cart-dos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 190px;
}

.cuerpo-container{
    width: 140px;
    height: 180px;
}

.cuerpo-imagen{
    border: 3px solid white;
}

.conteiner-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    

}
.imagen-libro{
    width: 135px;
    height: 175px;
}

.descripcion-cart{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content:space-between;
    width: 140px;
    height: 130px;
}
.cart-descripcion{
    font-size: 18px;
}

.fa-paper-plane{
    font-size: 15px;
    color: white;
}

.cuerpo-cantidad{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 130px;
    height: 100px;
    border: 1px solid  white; 
   
}

.precio-cantidad{
    font-size: 15px;
}

#tentacles{
    width: 35px;
}

.cuerpo-compra{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compra{
    width: 130px;
    height: 100px;
    border: 1px solid white;
}
.subtotal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 130px;
    height: 35px;
    color: black;
    background-color: white;
    border-bottom: 1px solid white;
}
.finaliza{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 130px;
    height: 70px;
}

.button-finalizar{
    position: relative;
    background-color: rgb(212, 210, 210);
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
}

.button-finalizar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgb(212, 210, 210);
    z-index: -1;
    transform: translateY(2px);
    background-color: rgb(136, 134, 134);

}
.button-finalizar:active{
    transform: translateY(2px);
   
    
}

.button-finalizar:before{
    transform: translateY(0);
    
}

@media (min-width: 481px){
    .conteiner{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        height: 90px;
        width: 400px;
        border-bottom: 2px dashed  white;
        margin-bottom: 20px;
       
    }

    .main-cart{
        width: 420px; 
    
    }

}

@media (min-width: 769px){
    .conteiner{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        height: 90px;
        width: 550px;
        border-bottom: 2px dashed  white;
        margin-bottom: 20px;
       
    }

    .main-cart{
        width: 600px; 
    
    }
    .cuerpo-cart{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 600px;
        height: 350px;
    }
    .cart-descripcion{
        font-size: 19px;
    }

    .cuerpo-cart-dos{
        display: flex;
        flex-direction: row; 
        justify-content: space-around;
        align-items: center;
        width: 300px;
        height: 250px;
    }
    .cuerpo-container{
        width: 140px;
        height: 180px;
    }

    .conteiner-precio-subtotal{
        display: flex;
        flex-direction: column; 
        justify-content: space-around;
        align-items: center;
        margin-left: 15px;
        width: 200px;
        height: 250px;
    }
    .conteiner-pr-sub{
        width: 129px;
        height: 100px;
    }

    .descripcion-cart{
        display: flex;
        flex-direction: column; 
        justify-content:space-between;
        padding-left: 10px;
    }

}
