<header class="main-header">
    <div class="main-div1">
        <a href="#" class="hamburguer-button"> <i class="fa-solid fa-bars"></i> </a>
        <a href="/"><h2 class="titulo"> Arcolbooks </h2></a>
        <img class="logo" src="/img/logolibros2.png" alt="">
        <img class="carrito" src="/img/carritoblanco.png" alt="">
    </div>

    <div class="main-div2">
        <input class="buscar" type="search" placeholder="Escribe el nombre del libro">
        <button class="boton"> Buscar </button>
    </div>

<nav class="main-navbar">

<ul class="left-navbar">
    <li> <a href="#"> Ofertas </a> </li>
    <li> <a href="#"> Ayuda </a> </li>
</ul>

<ul class="right-navbar">
    
    <li> <a href="/register"> Crea tu cuenta </a>  </li>
    <img class="login" src="/img/loginsvg.svg" alt="">
    <li> <a href="/login"> Login </a> </li>
    <img class="ingresar" src="/img/ingresar.svg" alt="">
    <li> <a href="/cart"> Mis compras </a> </li>
    <img class="carrito-comprador" src="/img/carritocomprador.svg" alt="">
</ul>
</nav>
    
</header>